[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.4.2"
requests = "*"
boto3 = "==1.21.33"
pyarrow = "*"
geopandas = "==0.10.2"
pygeos = "*"

[dev-packages]

[requires]
python_version = "3.9"
